* {
    margin: 0;
}

#navbar {
    background-color: rgb(109, 2, 109);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
}

#navbar h1 {
    color: white;
    font-size: 35px;
}

.link-navbar a {
    text-decoration: underline;
    font-size: 16px;
    color: #c88fe9;
    margin-left: 15px;
    transition: background-color 0.3s ease;
}

.link-navbar a:hover {
    background-color: #c88fe9;
    color: rgb(109, 2, 109);
}

body {
    background: linear-gradient(
        to bottom,
        rgb(128, 28, 128),
        rgb(255, 206, 255),
        rgb(172, 100, 172)
    );
     min-height: 100vh;
    animation: muncul 1s ease;
}

body > h1 {
    color: rgb(62, 14, 65);
    font-size: 28px;
    margin: 30px 80px 15px 80px;
}

body > p {
    color: rgb(29, 4, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 10px 80px;
}

table {
    width: 70%;
    background-color: rgb(255, 206, 255);
    border: 2px solid rgb(109, 2, 109);
    margin: 20px 80px;
}

th {
    background-color: rgb(109, 2, 109);
    color: white;
    padding: 10px;
}

td {
    color: rgb(29, 4, 30);
    padding: 10px;
    border: 1px solid rgb(109, 2, 109);
}

h3 {
    color: rgb(62, 14, 65);
    font-size: 20px;
    margin: 25px 80px 10px 80px;
}

ol,
ul {
    color: rgb(29, 4, 30);
    margin: 10px 80px 20px 100px;
}

li {
    margin: 5px;
}

.back-home {
    color: rgb(109, 2, 109);
    padding: 10px;
    margin: 30px 80px;
    transition: background-color 0.3s ease;
}

.back-home:hover {
    background-color: #c88fe9;
    color: rgb(109, 2, 109);
}

.akhir {background-color: rgb(255, 206, 255);}
@keyframes muncul {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
